# Virtual environments
.venv/
venv/

# PyCharm
.idea/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
datasets/facial_emotion/archive (14)/
datasets/music/